@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');

header nav ul li {
display: inline;
margin: 0;
padding-left: 2rem;
font-style: normal;
font-family: 'Krona One', sans-serif;
font-size: 0.8rem;
}

nav ul{
    padding: 0px;
    float: right;
}

.pink{
    background: rgb(255,129,107);
    background: linear-gradient(130deg, rgba(255,129,107,1) 0%, rgba(255,165,165,1) 64%, rgba(255,192,247,1) 100%);
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: block;
    margin-top: -1rem;
}

a{
 color: gray;
 text-decoration: none;
}

a:hover{
    color: rgb(255, 131, 168);
   }

.active{
    color: black;
   }

footer{
    text-align: center;
    font-size: 0.6rem;
}

.container {
    margin: auto;
    min-width: 650px;
    width: 80%;
    max-width: 1000px;
    font-family: Helvetica, sans-serif;
}

.logo{
    padding-top: 1rem;
    font-size: 1.7rem;
    font-weight: bold;
    display: inline-block;
    font-family: 'Krona One', sans-serif;
}

h2{
    font-family: 'Mukta', sans-serif;
    font-style: italic;
    margin: 0px;
}

h1{
    font-family: 'Krona One', sans-serif;
    margin: 0px;
}

p{
    margin: 0px;
}

.pink h1, h2, p{
    color: white;
}
