@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

header nav ul li {
display: inline;
margin: 0;
font-style: normal;
font-family: 'Krona One', sans-serif;
font-size: 0.8rem;
}

nav ul{
    padding: 0px;
    float: right;
}

.pink{
    background: rgb(255,129,107);
    background: linear-gradient(130deg, rgba(255,129,107,1) 0%, rgba(255,165,165,1) 64%, rgba(255,192,247,1) 100%);
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: block;
}

.overlap{
    margin-top: -1rem;
    z-index: -1;
}

a{
 color: gray;
 text-decoration: none;
}

a:hover{
    color: rgb(255, 131, 168);
   }

.active{
    color: black;
    font-weight: bold;
   }

footer{
    margin-top: 1rem;
    text-align: center;
    font-size: 0.6rem;
}

.container {
    margin: auto;
    width: 80%;
    font-family: 'Alata', sans-serif;
    color: black;
}

.logo{
    padding-top: 1rem;
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
    font-family: 'Krona One', sans-serif;
    position: relative;
}

h2{
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
    margin: 0px;
}

h1{
    font-family: 'Krona One', sans-serif;
    margin: 0px;
    font-size: 3rem;
}

p{
    margin: 0px;
}

.color{
    color: white;
}

.row {
    display: flex;
    margin-top: 1rem;
    background-color: rgb(253, 253, 253);
    flex-wrap: wrap;
  }
  
 .yellow{
    background: rgb(255,202,53);
    background: linear-gradient(130deg, rgba(255,202,53,1) 0%, rgba(255,209,135,1) 71%, rgba(253,255,183,1) 100%);    
}
  
.green{
    background: rgb(52,222,174);
    background: linear-gradient(130deg, rgba(52,222,174,1) 0%, rgba(228,255,135,1) 81%, rgba(253,255,183,1) 100%);
}

.column {
    align-self: center;
    text-align: center;
  }

  img{
    width: 100%;
    height: auto;
  }

  .accent{
      color: rgb(255, 113, 168);
  }

  .right{
    margin-top: -10rem;  
    text-align: right;
    margin-right: 2rem;
  }

  .lefty{
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: rgb(15, 15, 15);
  }
  
  .herelink{
    font-size: 1.1em;
    border: 1.5px solid transparent;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    background: -webkit-linear-gradient(45deg, rgb(235, 59, 156), rgb(255, 142, 67));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-image: -webkit-linear-gradient(45deg, rgb(235, 59, 156), rgb(255, 142, 67));
    border-image-slice: 1;
  }


  .masonry { /* Masonry container */
    column-gap: 1em;
    width: 100%;
  }
  
  .item { /* Masonry bricks or child elements */
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
  }

  @media only screen and (min-width: 2601px) {
    .masonry {
      column-count: 4;
    }

    header nav ul li {
      padding-left: 2rem;
      }

      .column {
        flex: 50%;
      }

      .yellow{
        padding-top: 4px;
        padding-left: 4px;
      }

      html{
        font-size: 50px;
      }
  }

  @media only screen and (min-width: 1501px) and (max-width: 2600px) {
    .masonry {
      column-count: 4;
    }

    header nav ul li {
      padding-left: 2rem;
      }

      .column {
        flex: 50%;
      }

      .yellow{
        padding-top: 4px;
        padding-left: 4px;
      }

      html{
        font-size: 30px;
      }
  }

  @media only screen and (min-width: 1024px) and (max-width: 1500px) {
    .masonry {
      column-count: 3;
    }
   
    header nav ul li {
      padding-left: 2rem;
      }

      .column {
        flex: 50%;
      }

      .yellow{
        padding-top: 4px;
        padding-left: 4px;
      }

  }
  
  /* Masonry on medium-sized screens */
  @media only screen and (max-width: 1023px) and (min-width: 800px) {
    .masonry {
      column-count: 2;
    }

    header nav ul li {
      padding-left: 2rem;
      }

      .column {
        flex: 50%;
        align-self: center;
        text-align: center;
      }

      .yellow{
        padding-top: 4px;
        padding-left: 4px;
      }
  }
  
  /* Masonry on small screens */
  @media only screen and (min-width: 450px) and (max-width: 799px) {
    .masonry {
      column-count: 1;
    }

    header nav ul li {
      padding-left: 1rem;
      }

      .column {
        flex: 100%;
        padding-bottom: 4rem;
      }  
      
      .contact{
        padding-top: 4rem;
      }

      .nopad{
        padding:0px;
      }
  }

  @media only screen and (max-width: 449px) {
    .masonry {
      column-count: 1;
    }

    header nav ul li {
      padding-left: 0;
      }

      .column {
        flex: 100%;
        padding-bottom: 4rem;
      }  
      
      .contact{
        padding-top: 4rem;
      }

      .nopad{
        padding:0px;
      }

      .smallhid{
        visibility: hidden;
      }
  }

  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 1rem; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 0.5rem; /* Add a top margin */
    margin-bottom: 1rem; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-size: 1rem;
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: white;
    color: #4CAF50;
    padding: 1rem 2rem;
    border: 2px solid;
    cursor: pointer;
    border-radius: 1rem;
    font-weight: bold;
    font-family: 'Alata', sans-serif;
    font-size: 1rem;
  }
  
  input[type=submit]:hover {
    background-color: #4CAF50;
    color: white;
  }

  #message {
    height: 7rem;
  }

  form{
    padding: 1.5rem;
    text-align: left;   
    background-color: white; 
    color: black;
    margin: 4px;
  }
